* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter sans-serif;
    outline: none;
    
}



body{
    background: url("./img/fundo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#titulo{
    font-family: Inter sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    color: rgb(7, 39, 99);
    opacity: 0.7;
}
.container {
    background-color: #d1d1d1;
    width: 500px;
    border-radius: 10px;
    padding: 20px;
    /* margin-left: auto;
    margin-right: auto; mesmo que margin embaixo
    margin-top: 100px; */
    margin: 100px auto 0;
}

.input-task {
    border: none;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    padding-left: 10px;
    font-size: 18px;
    
}

.button-add-task {
    border: none;
    border-radius: 5px;
    height: 40px;
    background-color: #2573a7;
    color: #ffff;
    font-size: 17px;
    padding: 0 15px ;
    float: right;
    cursor: pointer;
    font-weight: 700;
}

.button-add-task:hover {
    opacity: 0.8;
}
.button-add-task:active {
    opacity: 0.6;
}

.list-tasks {
    width: 100%;
    list-style: none;
    margin-top: 30px;
}
.task {
    background-color: #f2f2f2;
    box-shadow: 1px 4px 10px rgba(rgb(51, 38, 38));  
    height: 50px;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    
      

img {
    height: 25px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}}

.task:hover img {
    opacity: 1;
    
}

.done {
    background-color: #8fac55;
    text-decoration: line-through;
}
